body{
	background-color: #dc3545;

}
.cadre{
	width: 300px;
	height: 300px;
	border-radius: 10px;
}
label{
	color: darkgreen;
	margin-right: 110px;
} 
label:hover{
	color: yellow;
}
.a{
	padding-right: 22px;
}


